@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=latin,cyrillic);
body{
    background: #D4D4D4;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    position: absolute; 
}
header{
    border: 1px solid #C2C2C2;
    width: 100%;
    display: inline-block;
    padding-bottom: 1%;
    font-size: 14px;
}
aside{
    width: 100%;
    display: inline-block;
}

nav li {
    font-size: 16PX;
}
aside>div{  
    color: #5F84F2;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    width: 100%;
    font-size: 30px;
}
nav{
    width: 100%;
    margin-left: 10%;
    /*padding-left: 10%;*/
    display: inline-block;
}
.header{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    list-style-type: none;
    display: block;
    margin: 1%;
    float: left;
    text-decoration: none;
    margin-right: 0px;
}
.a1{
    color: #5F84F2;
    border: 1px solid #5F84F2;
    border-radius: 5%;
    padding: 10px;
}
#a2{
    color: white;
     border: 1px solid #5F84F2;
    padding: 10px;
     border-radius: 5%;
    background: #383838;
}
#a3{
    background: #383838;
    display: block;
    color: white;
    text-decoration: underline;
    text-decoration: none;
}
.a1:hover{
    background: #444444;
    color: white;
}
section{
    width: 80%;
    margin-left: 10%;
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
}
#left{
    width: 20%;
    float: left;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
.inputTextField{
    border: 1px solid #C2C2C2;
    float: left;
    border-radius: 3%;
    margin: 3%;
    width: 63%;
}
section div>button{ 
    float: right;
    margin: 3%;
    background:  #444444;
    color: #C2C2C2;
    border: 1px solid #C2C2C2;
}
section div>nav{
    width: 100%;
    float: left;
    margin-left: 0%;
}
section div nav >ul{
    margin: 2%;
}
#LeftMenuA{
    color: #444444;
    text-decoration: none;
}
#LeftMenuLi:hover{
    background:  #5F84F2;
    border-radius: 0% 15% 15% 0%;
}
#LeftMenuLi{
    list-style-type: none;
    margin-top: 2%;
    margin-left: 0px;
    padding-left: 2%;
    font-size: 18px;
}
section nav>ul{
    margin-left: 0px;
    padding-left: 0%;
}
#kontakt{
    display: block;
    font-size: 22px;
    background: #444444;
    width: 95%;
    padding-left: 5%;
    clear: both;
    color: #FFFFFF;
}   
#leftTable{
    text-decoration: none;
    width: 100%;  
    font-size: 14px;
}
#leftTable>span{
    font-weight: 300;}
.bold{
    font-weight: bold;
}
.container-1 input#search{
    width: 100%;
    height: 50px;
    background: #f8fafd;
    border: 3px solid  #5F84F2;
    font-size: 14px;
    float: left;
    color: #100f2c;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#leftTableButton{
    clear: both;
    width: 100%;
    float: left;
    font-size: 14px;
    color: #100f2c;
    outline: none;
  }
#leftTableButton>button{
    height: 40px;
    border-radius: 10%;
    float: left;
    outline: none;
}
#leftTableButton>button:hover{
    border: 2px solid #5F84F2;
}
#leftMapsH1{
    display: block;
    font-size: 22px;
    background: #444444;
    width: 95%;
    padding-left: 5%;
    clear: both;
    color: #FFFFFF;
    margin-bottom: 0px;
}
#mapa{
    width: 100%;
    height: 200px;
    padding-left: 0px;
    margin-top: 0px;
}
#leftMaps{
    width: 100%;
    margin-top: 0px;
}
#right{
    width: 79%;
    /*border: 1px solid black;*/
    height: 1000px;
    float: right;
    margin: 0px;
    padding: 0px;
    padding-top: 0xp;
}
#info{
    margin-top: 0px;
    display: block;
    font-size: 22px;
    background: #444444;
    width: 95%;
    padding-left: 5%;
    clear: both;
    color: #FFFFFF;
}
#info>h1{
    margin-top: 0px;
}
#infoText{
    color: #222222;
    font-weight: bold;
    width: 100%;
}
#infoTextP2{
    text-align: center;
}
#divProductionH1{
    font-style: italic;
    background: #444444;
    color: #FFFFFF;
    margin-top: 0px;
    display: block;
    font-size: 22px;
    clear: both;
    width: 95%;
    padding-left: 5%;
}
#divProductionH1>h1{
    margin: 0px;
}
#divProduction{
    width: 100%;
    margin-top: 2%;
    display: inline-block;
}
.divProductionOne{
    float: left;
    width: 29%;
    margin-right: 6%;
    margin-bottom: 20px;
    color: #444444;
}
.divProductionTwo{
    float: right;
    width: 29%;
    color: #444444;
    margin-bottom: 20px;
    margin-top: 0px;
}
.divProductionTwo>p{
    margin-top: 0px;
    margin-bottom: 5px;
}
.divProductionTwo>img{
    width: 94%;
    margin-top: 0px;
    margin-left: 2%;
}
.divProductionOneA{
    color: #5F84F2;
    text-decoration: none;
    }
.divProductionTwo>button{
    height: 25px;
    float: left;
    outline: none;
    border: 1px outset #444444;
    margin-left: 0px;
    margin-top: 0px;
}
.fa-envelope {
	color: red;
}
.divProductionOne>p{
    margin-top: 0px;
    margin-bottom: 5px;
}
#img{
    width: 80%;
    margin-top: 0px;
    margin-left: 10%;
}
.divProductionOneA{
    color: #5F84F2;
    text-decoration: none;
}
.divProductionOne>button{
    height: 25px;
    float: left;
    outline: none;
    border: 1px outset #444444;
    margin-left: 0px;
    margin-top: 0px;
}
.divProductionOne div{
    width: 100%;
    background: white;
     margin-top: 0px;
    float: left;
    padding-bottom: 0px;
    border: 1px dotted #8C8C8C;
}
.divProductionTwo div{
    width: 100%;
    background: white;
     margin-top: 0px;
    float: left;
    padding-bottom: 0px;
    border: 1px dotted #8C8C8C;
}
#divProduction section{
    width: 90%;
    float: left;
    padding: 0;
    margin: 0;
}
/*далі буде Сортировка!!!*/
.sorting {
    overflow: hidden;
    font: 11px Tahoma;
    color: #3b3b3b;
}
.sorting p {
    float: left;
    text-align: center;
}
.sorting > p{
    margin-right: 15px;
}
.sorting p a {
    color: #3272b0; 
}
.sorting p a:hover {
    text-decoration: none;
    color: #333333;
}
.sorting p input {
    width: 30px;
}
.btn-list-menu {
    background: url(../images/btn-list-menu.jpg) top no-repeat;
    width: 45px;
    height: 22px;
    margin-left: 20px;
}
.btn-list-menu a {
    margin: 1px;
}
.btn-list-menu2 {
    background: url(../images/btn-list-menu2.jpg) top no-repeat;
    width: 90px;
    height: 28px;
}
.btn-list-menu2 a {
    margin: 1px;
    font: bold 11px Tahoma;
    color: #fff!important;
    text-decoration: none;
}
#Product{
    background: #383838;
    color: red;
}
#galarey{
    width: 100%;
    margin-top: 1%;
    float: left;
    display: inline-block;
}
.galarey1{
    padding: 1%;
    border: 3px dashed #5F84F2;
    color: white;
    float: left;
    background: #444444;
    border-radius: 20%;
    text-decoration: none;
}
.galarey2{
    padding: 1%;
    border: 3px dashed #5F84F2;
    color:#444444;
    float: left;
    text-decoration: none;
    border-radius: 20%;
    margin-left: 3%;
}
#divKontact{
    width: 100%;
    display: inline-block;
}
#divProductionTextLeft{
    width: 30%;
    float: left;
    margin-top: 0;
    margin-left: 2%;
}
#divProductionTextRight{
    width: 58%;
        float:left;
    margin-left: 5%;
    
}


@media(max-width: 991px){ 
    header {width: 100%;} 
    aside div>h1{font-size: 20px;}
    aside>nav{width: 100%;display: block;float: left;margin: 0;padding: 0; }
   .header{
        font-size: 10px;width: 20%;padding: 0;float: left; font-family: 'Open Sans', sans-serif;list-style-type: none;display: block;margin: 0%;text-decoration: none;
    }
    #left{width: 100%;}
        .box{
            display: none;
        }
        #left>nav{display: none;}
        #kontakt{font-size: 15px;}
        #leftTable{font-size: 12px;}
        #leftMapsH1{font-size: 15px;}
    #right{width: 100%;}
        #info{font-size: 15px;}
        #infoText{font-size: 10px;}
    #divProductionH1{font-size: 15px;}
    .divProductionOne{width: 100%;}
    #img{height: 250px;}
    .divProductionOneA{font-size: 13px;}
    .divProductionTwo{width: 100%;}
    p{font-size: 13px;}
    #divKontact{font-size: 12px;}
    #divProductionTextRight,#divProductionTextLeft{font-size: 12px;}
} 
