@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=latin,cyrillic);
body{
    background: #D4D4D4;
    font-family: 'Open Sans', sans-serif;
    position: absolute; 
    margin: 0;
	padding: 0;
	min-height: 1000px;
}
header{
    border:  1px solid #C2C2C2;
    width: 100%;
    display: inline-block;
    padding-bottom: 1%;
    font-size: 14px;
}
aside{
    width: 100%;
    display: inline-block;
}

nav li {
    font-size: 16PX;
}
aside>div{  
    color: #5F84F2;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    width: 100%;
    font-size: 30px;
}
nav{
    width: 100%;
    margin-left: 10%;
    /*padding-left: 10%;*/
    display: inline-block;
}
.header{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    list-style-type: none;
    display: block;
    margin: 1%;
    float: left;
    text-decoration: none;
    margin-right: 0px;
}
.a1{
    color: #5F84F2;
    border: 1px solid #5F84F2;
    border-radius: 5%;
    padding: 10px;
}
#a2{
    color: white;
     border: 1px solid #5F84F2;
    padding: 10px;
     border-radius: 5%;
    background: #383838;
}
#a3{
    background: #383838;
    display: block;
    color: white;
    text-decoration: underline;
    text-decoration: none;
}
.a1:hover{
    background: #444444;
    color: white;
}
section{
    width: 80%;
    margin-left: 10%;
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
}
#left{
    width: 20%;
    float: left;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
.inputTextField{
    border: 1px solid #C2C2C2;
    float: left;
    border-radius: 3%;
    margin: 3%;
    width: 63%;
}
section div>button{ 
    float: right;
    margin: 3%;
    background:  #444444;
    color: #C2C2C2;
    border: 1px solid #C2C2C2;
}
section div>nav{
    width: 100%;
    float: left;
    margin-left: 0%;
}
section div nav >ul{
    margin: 2%;
}
#LeftMenuA{
    color: #444444;
    text-decoration: none;
}
#LeftMenuLi:hover{
    background:  #5F84F2;
    border-radius: 0% 15% 15% 0%;
}
#LeftMenuLi{
    list-style-type: none;
    margin-top: 2%;
    margin-left: 0px;
    padding-left: 2%;
    font-size: 18px;
}
section nav>ul{
    margin-left: 0px;
    padding-left: 0%;
}
#kontakt{
    display: block;
    font-size: 22px;
    background: #444444;
    width: 95%;
    padding-left: 5%;
    clear: both;
    color: #FFFFFF;
}   
#leftTable{
    text-decoration: none;
    width: 100%;  
    font-size: 14px;
}
#leftTable>span{
    font-weight: 300;}
.bold{
    font-weight: bold;
}
.container-1 input#search{
    width: 100%;
    height: 50px;
    background: #f8fafd;
    border: 3px solid  #5F84F2;
    font-size: 14px;
    float: left;
    color: #100f2c;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#leftTableButton{
    clear: both;
    width: 100%;
    float: left;
    font-size: 14px;
    color: #100f2c;
    outline: none;
  }
#leftTableButton>button{
    height: 40px;
    border-radius: 10%;
    float: left;
    outline: none;
}
#leftTableButton>button:hover{
    border: 2px solid #5F84F2;
}
#leftMapsH1{
    display: block;
    font-size: 22px;
    background: #444444;
    width: 95%;
    padding-left: 5%;
    clear: both;
    color: #FFFFFF;
    margin-bottom: 0px;
}
#mapa{
    width: 100%;
    height: 200px;
    padding-left: 0px;
    margin-top: 0px;
}
#leftMaps{
    width: 100%;
    margin-top: 0px;
}

#divProductionH1{
    font-style: italic;
    background: #444444;
    color: #FFFFFF;
    margin-top: 0px;
    display: block;
    font-size: 22px;
    clear: both;
    width: 95%;
    padding-left: 5%;
}
#divProductionH1>h1{
    margin: 0px;
}
#divProduction{
    width: 100%;
    display: inline-block;
}
.divProductionOne{
    float: left;
    width: 29%;
    margin-right: 6%;
    margin-bottom: 20px;
    color: #444444;
}
.divProductionTwo{
    float: right;
    width: 29%;
    color: #444444;
    margin-bottom: 20px;
    margin-top: 0px;
}
.divProductionTwo>p{
    margin-top: 0px;
    margin-bottom: 5px;
}
.divProductionTwo>img{
    width: 94%;
    margin-top: 0px;
    margin-left: 2%;
}
.divProductionOneA{
    color: #5F84F2;
    text-decoration: none;
    }
.divProductionTwo>button{
    height: 25px;
    float: left;
    outline: none;
    border: 1px outset #444444;
    margin-left: 0px;
    margin-top: 0px;
}
.fa-envelope {
	color: red;
}
.divProductionOne>p{
    margin-top: 0px;
    margin-bottom: 5px;
}
#right{
    width: 79%;
    float: right;
    margin: 0px;
    padding: 0px;
    padding-top: 0xp;
    display: inline-block;
}
#right>h1{
    margin: 0;
}
/* Стилі слайдера */

#raz {
  position: relative;
  width: 50%;
  top: 0;/* можно ограничить по ширине в любых единицах, в т.ч. px (необязательно) */
  /*max-height: 480px;*/  /* можно ограничить по высоте в любых единицах, в т.ч. px (необязательно) */
  overflow: hidden;  /* удалить, если нет max-width, max-height и outline у img */
  margin-top: 20px;
    float: left;
}
#raz img {
  position: absolute;
  top: 0;
  left: 0;
  /* Версия 1: абзац для того, чтобы изображение было растянуто во весь слайдер */
  width: 100%;
  height: 700px;
  float: left;
}
#opacity{
  position: relative;
  height: 700px;
  /*margin-bottom: 30%;  процент от ширины (тут есть калькулятор) */
  z-index: 3;
}
#raz img:nth-of-type(1) {
  z-index: 2;
}
/* Стилі загальні */ 
#firstHead {
	text-align: center;	
}
#secondHead {
	display: none;
	text-align: center;
}
#dwa{
    float: right;
    position: relative;
    max-width: 49%;
    margin-top: 20px;
    top: 0;
}
#dwa>img{
    width: 40%;
    height: 220px;
    float: right;
}
#price{
    width: 92%;
    background: white;
    padding: 4%;
}
#dwa>button{
    border: 1px solid white;
    width: 55%;
    height: 40px;
    float: left;
    outline: none;
    color: white;
    font-size: 20px;
    
}
#PidButton{
    clear: both;
    width: 100%;
    border: 1px dolid red;
    border-top: 3px dashed #5F84F2;
}
#PidButtonRight{
    float: right;
    width: 80%;
    margin-top: 1.4%;
}
#PidButtonRight>img{
    width: 100%;

}
#Video0{
    text-align: center;
    margin-top: 100px;
}
#centerText{
    clear: both;
    width: 80%;
    margin-left: 10%;
}
#centerText>h2{
    margin-left: 20%;
    color: red;
}
body{
    position: relative;
}
/*Далі буде Media queries*/
@media (max-width: 767px) { 
 header {width: 10%;} 
} 
