@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=latin,cyrillic);
body{
    background: #DCDCDC;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    width: 100%;
}
header{
/*    border: 1px solid #DCDCDC;*/
    border: 3px solid #00FF00;
    width: 99%;
    margin-left: 0px;
    margin: auto;
    display: inline-block;
    padding-bottom: 1%;
    font-size: 14px;
}
section{
    border: 3px solid #00FF7F;
    
}
#left{
    border: 3px solid #800080;
    background: ;
}