body{ 
text-align: center; 

} 
header{ 
width: 100%; 
background: royalblue; 
color: red; 
height: 70px; 
margin-bottom:20px; 
line-height: 70px; 
} 
#div1{ 
width: 40%; 
float: left; 
margin-bottom:20px; 
} 
#div1>h1{ 
color: aqua; 
background: royalblue; 
} 

#div2{ 
float: right; 
width: 40%; 
margin-bottom:20px; 
} 
#div2>h1{ 
color: aqua; 
background: royalblue; 
} 


div>p{ 
width: 100px; 
} 
section{ 
float: left; 
width: 40%; 
background: royalblue; 
color: red; 
} 
nav{ 
float: right; 
width: 40%; 
background: royalblue; 
color: red; 
} 
footer{ 
width: 100%; 
background: royalblue; 
font-size: 20px; 
color: aqua; 
float: left; 
margin-top: 20px; 
height: 70px; 
line-height: 70px; 
} 

/*далі піде медіа*/ 

@media (max-width: 991px){ 
header{ 
width: 75%; 
margin-left:12.5%; 
} 
#div1{ 
width: 60%; 
margin-left: 20%; 
} 
#div2{ 
display: block; 
display: none; 
} 
section{ 
width: 50%; 
margin-left: 25%; 
height: 100px; 
line-height: 100px; 
} 
nav{ 
display: block; 
display: none; 
} 
footer{ 
width: 100%; 
} 
}