.sorting {
    overflow: hidden;
    font: 11px Tahoma;
    color: #3b3b3b;
}
.sorting p {
    float: left;
    text-align: center;
}
.sorting > p{
    margin-right: 15px;
}
.sorting p a {
    color: #3272b0; 
}
.sorting p a:hover {
    text-decoration: none;
    color: #333333;
}
.sorting p input {
    width: 30px;
}
.btn-list-menu {
    background: url(../images/btn-list-menu.jpg) top no-repeat;
    width: 45px;
    height: 22px;
    margin-left: 20px;
}
.btn-list-menu a {
    margin: 1px;
}
.btn-list-menu2 {
    background: url(../images/btn-list-menu2.jpg) top no-repeat;
    width: 90px;
    height: 28px;
}
.btn-list-menu2 a {
    margin: 1px;
    font: bold 11px Tahoma;
    color: #fff!important;
    text-decoration: none;
}